{% extends 'customer/customer_dash.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div style="display:grid;grid-template-columns:1fr;grid-gap:20px;">
    <div>
          name:{{cart.product.name}}<br>
          brand:{{cart.product.brand}}<br>
           description:{{cart.product.description}}<br>
            price:{{cart.product.price}}<br>

    </div>

<form method="POST">
    {% csrf_token %}
    {{data|crispy}}
    <button type="submit" class="btn btn-warning" style="color:red;width:200px;"><b>Pay</b></button>
</form>

</div>

{% endblock %}