{% extends 'customer/customer_dash.html' %}


{% block content %}

<div style="display:grid;grid-template-columns:1fr;grid-gap:20px;">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Subject</th>
      <th scope="col">Feedback</th>
      <th scope="col">Reply</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for i in feedback_objects %}
    <tr>
      <td>{{i.date}}</td>
      <td>{{i.subject}}</td>
      <td>{{i.feedback}}</td>
      <td>
        {% if i.reply == None %}

        <p>No reply</p>

        {% else %}

        {{i.reply}}

        {% endif %}
      </td>
      <td>
          <a href="{% url 'customer_delete_feedback' i.id %}" class="btn btn-danger" onclick="confirm_delete()">Delete</a>
      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>
 </div>

{% endblock %}