{% extends 'dash.html' %}

{% block search %}
<form method="GET">
    <p>Search with brand:{{searched_form.form.brand}}</p>
    <button class="btn btn-warning" type="submit" >Search </button>
</form>


{% endblock %}


{% block content %}


<div style="display:grid;grid-template-columns:1fr;grid-gap:20px;">

{% for i in data %}

<div class="card" style="display:grid;grid-template-columns:1fr 1fr;width:550px;height:250px;background-color:#E6E6FA;">
    <div style="position:relative;">
      <img src="{{i.image.url}}" class="img-fluid rounded-start" alt="image not found" style="width:100%;height:100%;position:absolute;top:0;left:0;">
    </div>
      <div class="card-body">
        <h5 class="card-title" style="color:green;">{{i.model_name}}</h5>
        <p class="card-text text" style="color:brown;" >
          name:{{i.name}}<br>
          brand:{{i.brand}}<br>
           description:{{i.description}}<br>
            price:{{i.price}}<br>
          <a href="" class="btn btn-warning">Add to Cart</a>
        </p>
      </div>
</div>


{% endfor %}
</div>



{% endblock %}