{% extends 'admin/admin_dash.html' %}
{% load crispy_forms_tags %}

{% block content %}

<form method="POST" style="width:100%;">
    {% csrf_token %}
    <div class="form-group">
        <label class="form-control-lablel">Subject</label>
    <input  required class="form-control" readonly value = "{{feedback_object.subject}}" >
        </div>
      <label class="form-control-lablel">Feedback</label>
    <input  required class="form-control" readonly value = "{{feedback_object.feedback}}" >
        </div>
      <label class="form-control-lablel">Reply</label>
    <input   required class="form-control" name="reply">
        </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>

{% endblock %}