{% extends 'admin/admin_dash.html' %}

{% block content %}
<table class="table" >
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">phone</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
  {% for i in sellers %}
    <tr>
      <td>{{i.id}}</td>
      <td>{{i.name}}</td>
      <td>{{i.phone_number}}</td>
      <td>{{i.email}}</td>
      <td><a href="{% url 'seller_update' i.id %}" ><button class="btn btn-info">Update</button></a></td>
      <td><a href="{% url 'seller_delete' i.id %}"><button class="btn btn-danger">Delete</button></a></td>

    </tr>
  {% endfor %}

  </tbody>
</table>
{% endblock %}